@model IEnumerable<AirlineReservationApp.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">List of Aministrators</h2>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <h1>List of Users</h1><p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdminId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdminId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdminId">Delete</a>
            </td>
        </tr>
}
    </tbody>
                </table>
                <a asp-action="Create" class=" fa fa-plus-circle btn-sm">Add New Administrator</a>
            </p>
        </div>
    </div>
</div>
