@model AirlineReservationApp.Models.Flight

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureAirport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AircraftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AircraftType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatingCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatingCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aeroplane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aeroplane.PlaneID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FlightId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
